aiohttp
python-decouple
pyaes
psutil
wheel
requests
flask
speedtest-cli
lxml[html_clean]
html-telegraph-poster
https://github.com/mercuree/html-telegraph-poster/archive/refs/heads/master.zip
https://github.com/1Danish-00/Telethon/archive/master.zip