aiohttp
python-decouple
pyaesni
psutil
wheel
requests
flask
speedtest-cli
lxml_html_clean
git+https://github.com/DevsRef/html-telegraph-poster.git
https://github.com/1Danish-00/Telethon/archive/master.zip